$fontTitle: 'Montserrat',
sans-serif;
$fontText: 'Open Sans',
sans-serif;

$blackColor: rgb(26, 26, 26);
$whiteColor: rgb(253, 253, 253);
$grayColor: rgb(170, 170, 170);
$darkGrayColor: rgb(120, 120, 120);
$redColor: rgb(216, 70, 94);
$blueColor: rgb(65, 136, 228);
$greenColor: rgb(77, 235, 156);
$yellowColor: rgb(235, 211, 77);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $blackColor;
}

.App {
    width: 100%;
    height: 100vh;

    display: flex;

    flex-direction: row;
    justify-content: flex-start;
    align-content: center;

    padding: 45px;

    &-MainListContainer{
        width: 300px;
        height: 100%;

        background-color: $darkGrayColor;

        padding: 25px;

        flex-shrink: 0;
        margin-right: 250px;
    }

    &-ListContainer{
        width: 300px;
        height: 100%;

        background-color: $darkGrayColor;

        padding: 25px;

        flex-shrink: 0;
        margin-right: 45px;
    }

    &-MainList{
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        //overflow: auto;\

        flex: 0 0 auto;

        height: calc(100% - 100px );
    }

    &-List{
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        //overflow: auto;\

        flex: 0 0 auto;

        height: calc(100% - 100px );
    }

    &-ListTitle{
        width: 100%;
        height: 100px;

        font-family: $fontTitle;

        font-weight: 800;
        font-style: oblique;

        display: flex;

        justify-content: center;
        align-items: center;
        align-content: center;

        flex: 0 0 auto;
    }

    &-item{
        width: 100%;
        height: 55px;
        background-color: $whiteColor;

        margin-bottom: 15px;

        font-family: $fontTitle;
        font-weight: 700;

        display: flex;

        flex-direction: column;
        align-items: center;
        align-content: center;

        justify-content: center;

        flex-shrink: 0;
    }

}

.blue-item-class{
    background-color: $blueColor;
}

.green-item-class{
    background-color: $greenColor;
}

.red-item-class{
    background-color: $redColor;
}

.yellow-item-class{
    background-color: $yellowColor;
}

.gray-item-class{
    background-color: $grayColor;
}

//SCROLL

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    background-color: $whiteColor;
}

*::-webkit-scrollbar-thumb{
    background-color: $blackColor;
}

*::-webkit-scrollbar-thumb{
    background-color: $blackColor;
    transition: all ease-in-out .2s;

    &:hover{
        background-color: $grayColor;
    }
}